:root {
    --main-color:#ff6600;
    --white:#ffff;
    --light-gray:#f6f4f4;
    --dark-gray:#1f1f1f;
    --black:#000000;
  }

  body {
    background-color: #181818b0 !important; 
    }

    h1, h2, h3, h4, h5, h6, p, small{
      color: white !important;
    }
  
    ::selection{
      color: var(--main-color);
    }

    .container-fluid{
      margin: 0 !important;
      padding: 0 !important;
    }

    .login-text{
      color: var(--dark-gray) !important;
    }
  