:root {
  --main-color: #ff6600;
  --pastel-orange:#e16421;
  --white: #fff;
  --light-gray: #bdbdbd;
  --medium-gray: #535353;
  --gray: #212225;
  --dark-main: #121212;
  --black: #000;
}

.divisao {
  background-color: var(--gray);
  padding: 30px 60px;

}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--dark-main) !important;
  position: relative !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  color: var(--white) !important;
}

input {
  outline: none;
}

hr {
  color: white !important;
}

::selection {
  color: var(--main-color);
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.label-icons{
  margin-left: 5px;
  color: var(--main-color);
}

/* .label-icons:hover{
  cursor: pointer;
} */