:root {
    --main-color:#ff6600;
    --white:#ffff;
    --light-gray:#f6f4f4;
    --dark-gray:#1f1f1f;
    --black:#000000;
  }

  html, body{
    background-color: #000000b0 ; 
    }

    h1, h2, h3, h4, h5, h6, p{
      color: rgb(0, 0, 0);
    }
  
    ::selection{
      color: var(--main-color);
    }

    .container-fluid{
      margin: 0 !important;
      padding: 0 !important;
    }
  